.green_button {
  background-color: @green_5;
}

.red1 {
    background-color: @red_1;
}

.red2 {
    background-color: @red_2;
}

.red3 {
    background-color: @red_3;
}

.orange3 {
    background-color: @orange_3;
}

.purple2 {
    background-color: @purple_2;
}

.blue1 {
    background-color: @blue_1;
    color: black;
}

.blue2 {
    background-color: @blue_2;
}

.blue3 {
    background-color: @blue_3;
}

.blue4 {
    background-color: @blue_4;
}

.blue5 {
    background-color: @blue_5;
}

.yellow1 {
    background-color: @yellow_1;
    color: black;
}

.yellow2 {
    background-color: @yellow_2;
    color: black;
}

.yellow3 {
    background-color: @yellow_3;
    color: black;
}

.yellow4 {
    background-color: @yellow_4;
    color: black;
}

.green1 {
    background-color: @green_1;
    color: black;
}
.box {
  background-color: @borders;
  border: none;
}

.frame {
  border: none;
  background-color: @card_bg_color;
  border-radius: 10px;
}

